<!DOCTYPE html>
<html>
	<head>
		<title>Final Project</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	<body onLoad = "formLoad3()" style = "background-image: url('http://7-themes.com/data_images/out/68/7004658-hd-game-wallpaper.jpg'); background-size: cover; background-repeat: no-repeat;">

		<div class = "container" style = "margin-top: 3%;width:70%; height: 80%%; background-color:#727272; border-radius: 25px;">
			<div class = "row" style = "margin:10px;">
				<div class='col-lg-4 '><a href="/show" class='btn btn-primary' style = "margin-left:25%; width:50%;">Movie</a></div>
				<div class='col-lg-4'><a href="/show2" class='btn btn-primary' style = "margin-left:25%; width:50%;">Music</a></div>
				<div class='col-lg-4'><a href="/show3" class='btn btn-primary' style = "margin-left:25%; width:50%;">Games</a></div>
			</div>
			<div class = "container" style = "width:90%;background-color:#ECECEC; margin-top:10px; margin-bottom: 10px; border: solid 2px #666">
				<pre id='query7' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;

SELECT DISTINCT ?x
WHERE {
  ?x a :Game .
  }
					</pre>
					<pre id='query8' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;

SELECT DISTINCT ?x
WHERE {
  ?x a :GameGenre .
  }
					</pre>
					<pre id='query9' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;

SELECT DISTINCT ?x
WHERE {
  ?x a :GameType .
  }
					</pre>
				<div class = 'row' style = 'margin-top: 10px;'>
					<form name = "myform" role = "form">
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget1"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick a Game" onClick="searchGame(this.form)"/>
					</div>
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget2"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick a Game Genre" onClick="searchGameGenre(this.form)"/>
					</div>
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget3"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick a Game Type" onClick="searchGameType(this.form)"/>
					</div>
				</form>
				</div>

			<div class='row' style = "margin:10px;">
				<div class='col-lg-12'>
					<h3>Results</h3>
					<div id="linktarget4" style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row' style = "margin:10px;">
				<div class='col-lg-12'>
					<h3>Relationships</h3>
					<div id="linktarget5" style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
		</div>
		</div>
			

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/scripts.js") }}' type='text/javascript'></script>


	</body>
</head>
