<!DOCTYPE html>
<html>
	<head>
		<title>Final Project</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	<body onLoad = "formLoad()" style = "background-image: url('http://www.htbackdrops.org/v2/albums/userpics/10318/orig_PickUp_Movie_by_topo77.jpg'); background-size: cover; background-repeat: no-repeat;">

		<div class = "container" style = "margin-top: 3%;width:70%; height: 80%%; background-color:#727272; border-radius: 25px;">
			<div class = "row" style = "margin:10px;">
				<div class='col-lg-4 '><a href="/show" class='btn btn-primary' style = "margin-left:25%; width:50%;">Movie</a></div>
				<div class='col-lg-4'><a href="/show2" class='btn btn-primary' style = "margin-left:25%; width:50%;">Music</a></div>
				<div class='col-lg-4'><a href="/show3" class='btn btn-primary' style = "margin-left:25%; width:50%;">Games</a></div>
			</div>
			<div class = "container" style = "width:90%;background-color:#ECECEC; margin-top:10px; margin-bottom: 10px; border: solid 2px #666">
				<pre id='query1' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbr: &lt;http://dbpedia.org/resource/&gt;
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;
PREFIX sb: &lt;http://purl.org/dc/terms/&gt;

select distinct ?x
where { 
	?x a dbo:Actor . 
}
					</pre>
					<pre id='query2' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbr: &lt;http://dbpedia.org/resource/&gt;
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;
PREFIX sb: &lt;http://purl.org/dc/terms/&gt;
PREFIX mov: &lt;http://www.movieontology.org/2009/10/01/movieontology.owl#&gt;

select distinct ?x
where { 
	?x a mov:Distribution_Company . 
}
					</pre>
					<pre id='query3' class='sparql' style='width: 100%; display: none; background-color:#FFF;' rows='10'>
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbr: &lt;http://dbpedia.org/resource/&gt;
PREFIX : &lt;http://www.semanticweb.org/finalproject#&gt;
PREFIX sb: &lt;http://purl.org/dc/terms/&gt;

select distinct ?x
where { 
	{?x a :Action_Movie} 
	UNION {?x a :Comedy_Movie}
	UNION {?x a :Crime_Movie}
	UNION {?x a :Documentary_Movie} 
    UNION {?x a :Drama_Movie} 
    UNION {?x a :Fantasy_Movie}
    UNION {?x a :Horror_Movie}
    UNION {?x a :Musical_Movie}
    UNION {?x a :Psychological_Movie}
    UNION {?x a :Romantic_Movie}
    UNION {?x a :Sci-Fi_Movie}
    UNION {?x a :Thriller_Movie}
    UNION {?x a :War_Movie}
}
					</pre>
				<div class = 'row' style = 'margin-top: 10px;'>
					<form name = "myform" role = "form">
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget1"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick an Actor" onClick="searchActor(this.form)"/>
					</div>
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget2"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick a Distribution Company" onClick="searchDistribution(this.form)"/>
					</div>
					<div class = 'col-lg-4'>
						<div class="form-group" id="linktarget3"></div>
						<input type = "button" class = "btn btn-primary" value = "Pick a Movie" onClick="searchMovie(this.form)"/>
					</div>
				</form>
				</div>

			<div class='row' style = "margin:10px;">
				<div class='col-lg-12'>
					<h3>Results</h3>
					<div id="linktarget4" style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row' style = "margin:10px;">
				<div class='col-lg-12'>
					<h3>Relationships</h3>
					<div id="linktarget5" style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
		</div>
		</div>
			

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/scripts.js") }}' type='text/javascript'></script>


	</body>
</head>
